/* Carousel Card Media Queries */

/* Media Queries w.r.t 3000px */
.book-card{
    width: 100%;
    box-shadow: 5px 13px 14px darkgrey;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img{
    width: 100%;
    height: 450px;
}

.card-body{
    display: flex;
    flex-direction: column;
    font-size: 29px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 5px;
}

.card-title{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.title{
    margin: 0px;
    padding: 0px;
    text-decoration: underline;
    font-size: 31px;
}

.by{
    display: flex;
    font-weight: bold;
    align-items: flex-start;
}

.author{
    margin: 0px;
    font-weight: normal;
}

.card-owner{
    display: flex;
    align-items: flex-start;
    font-weight: bold;
}

.owner-name{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

.request-book{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.request-book-btn{
    margin: 0px;
    padding: 0px;
    background: transparent;
    border: 2px solid #a2671a;
    border-radius: 11px;
    width: 176px;
    height: 49px;
    color: #a2671a;
    font-size: 24px;
}

.book-card:hover{
    transform: scale(1.05);
}

.book-card:hover .request-book-btn{
    background: #a2671a;
    color: white;
}

.right-arrow{
    background: #a2671a;
    width: 21px;
    padding: 10px;
    border-radius: 100px;
}



@media screen and (max-width: 2500px){
    .card-img{
        height: 360px;
    }
    
    .title{
        font-size: 27px;
    }

    .card-body{
        font-size: 25px;
    }

    .request-book-btn {
        width: 156px;
        height: 43px;
        font-size: 20px;
    }

    .right-arrow{
        width: 16px;
        padding: 9px;
    }
}



@media screen and (max-width: 2000px){
    
    .title{
        font-size: 23px;
    }

    .card-body{
        font-size: 21px;
    }

    .request-book-btn {
        width: 132px;
        height: 37px;
        font-size: 17px;
    }

    .right-arrow{
        width: 12px;
        padding: 9px;
    }
}




@media screen and (max-width: 1800px){
    .card-img{
        height: 320px;
    }

    .title{
        font-size: 20px;
    }

    .card-body{
        font-size: 18px;
    }

    .request-book-btn {
        width: 132px;
        height: 37px;
        font-size: 17px;
    }

    .right-arrow{
        width: 12px;
        padding: 9px;
    }
}



@media screen and (max-width: 1650px){
    .card-img{
        height: 280px;
    }

    .title{
        font-size: 18px;
    }

    .card-body{
        font-size: 16px;
    }

    .request-book-btn {
        width: 107px;
        height: 33px;
        font-size: 14px;
        border: 1px solid #a2671a;
        border-radius: 7px;
    }

    .right-arrow{
        width: 11px;
        padding: 7px;
    }
}



@media screen and (max-width: 1500px){
    .card-img{
        height: 235px;
    }

    .title{
        font-size: 16px;
    }

    .card-body{
        font-size: 14px;
        padding-left: 13px;
        padding-right: 13px;
    }

    .request-book {
        padding: 13px;
    }

    .request-book-btn {
        width: 85px;
        height: 26px;
        font-size: 11px;
        border: 1px solid #a2671a;
        border-radius: 3px;
    }

    .right-arrow{
        width: 7px;
        padding: 5px;
    }
}




@media screen and (max-width: 1440px){
    .card-img{
        height: 200px;
    }

    .title{
        font-size: 14px;
    }

    .card-body{
        font-size: 12px;
    }

}



