.book-card{
    height: calc(510*var(--screen));
    width: 100%;
    box-shadow: 5px 13px 14px darkgrey;
    border-bottom-left-radius: calc(10*var(--screen));
    border-bottom-right-radius: calc(10*var(--screen));
}

.card-img{
    height: calc(400*var(--screen));
    width: 100%;
}

.card-body{
    display: flex;
    flex-direction: column;
    gap: calc(8*var(--screen));
    font-size: calc(16*var(--screen));
    padding-left: calc(12*var(--screen));
    padding-right: calc(12*var(--screen));
}

.card-title{
    padding: 0px;
    margin: 0px;
    display: flex;
    font-weight: bold;

}

.title{
    margin: 0px;
    padding: 0px;
    text-decoration: underline;
    font-weight: normal;
}

.author{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

.card-owner{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.owner-name{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

.request-book{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.request-book-btn{
    margin: 0px;
    padding: 0px;
    background: transparent;
    border: none;
    border: 1px solid #a2671a;
    border-radius: calc(5*var(--screen));
    width: calc(130*var(--screen));
    height: calc(35*var(--screen));
    color: #a2671a;
    font-size: calc(17*var(--screen));
}

.right-arrow{
    background: #a2671a;
    width: calc(15*var(--screen));
    padding: calc(5*var(--screen));
    border-radius: calc(15*var(--screen));
}

@media screen and (max-width: 600px) {
    .book-card{
        width: 200px;
    }
}

@media screen and (max-width: 475px) {
    .book-card{
        width: 150px;
        height: 250px;
    }

    .card-img{
        height: 185px;
        width: 100%;
    }
    
}

@media screen and (max-width: 350px) {
    .book-card{
        width: 115px;
        height: 200px;
    }

    .card-img{
        height: 136px;
        width: 100%;
    }
    
}


