/* Media Queries w.r.t 3000px */

.books-section{
    margin-top: 45px;
}

.no-of-books{
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 31px;
}

.quantity{
    margin: 0px;
    padding: 0px;
    color: #a2671a;
    font-weight: bold;
}


/* Carousel Media Queries */

/* Carousel on the screen (only cards)  */
.eMZefZ {
    width: 2000px;
    padding: 40px 20px;
}  

/* Carousel on screen - (both arrows and cards included)*/
.bqyzQp {
    display: flex;
    align-items: center;
    padding: 25px 10px 5px;
}

/* Card Grid for row=1, column=5 */
.bOSVOB {
    display: grid;
    align-items: center;
}

/* Card Grid for row=1, column=4 */
.hSlTYw {
    display: grid;
    align-items: center;
}

/* Card Grid for row=1, column=3 */
.jWZxDD {
    display: grid;
    align-items: center;
}

.carousel-left-arrow{
    transform: rotateY(180deg);
}
    
.carousel-arrow {
    border-radius: 100px;
    border: 3.5px solid black;
    padding: 11px;
    width: 40px;
}

.dot{
    height: 16px;
    width: 16px;
    border-radius: 100px;
}





@media screen and (max-width: 2500px){
    .eMZefZ {
        width: 1645px;
        padding: 20px 20px 35px 20px;
    }  

    .bqyzQp {
        padding-bottom: 0px;
    }

    .books-section {
        margin-top: 30px;
    }

    .no-of-books{
        font-size: 27px;
    }

    .carousel-arrow {
        border-radius: 100px;
        border: 3px solid black;
        padding: 9px;
        width: 28px;
    }

    .dot{
        height: 14px;
        width: 14px;
    }
}




@media screen and (max-width: 2000px){
    .eMZefZ {
        width: 1400px;
        padding: 15px 15px 35px 15px;
    }  

    .books-section {
        margin-top: 20px;
    }

    .no-of-books{
        font-size: 23px;
    }

    .carousel-arrow {
        border-radius: 100px;
        border: 2px solid black;
        padding: 9px;
        width: 24px;
    }

    .dot{
        height: 12px;
        width: 12px;
    }
}



@media screen and (max-width: 1800px){
    .eMZefZ {
        width: 1250px;
        padding: 15px 15px 35px 15px;
    }  

    .no-of-books{
        font-size: 20px;
    }
}



@media screen and (max-width: 1650px){
    .no-of-books{
        font-size: 18px;
    }

    .eMZefZ {
        width: 1085px;
    }  

    .dot{
        height: 11px;
        width: 11px;
    }

    .carousel-arrow {
        width: 18px;
    }
}




@media screen and (max-width: 1500px){
    .no-of-books{
        font-size: 16px;
    }

    .eMZefZ {
        width: 850px;
        padding-top: 10px;
    }  

    .bqyzQp {
        padding-top: 20px;
    }

    .dot{
        height: 10px;
        width: 10px;
    }

    .carousel-arrow {
        width: 16px;
    }
}



@media screen and (max-width: 1440px){
    .no-of-books{
        font-size: 14px;
    }

    .eMZefZ {
        width: 760px;
    }  

    .bqyzQp {
        padding-top: 15px;
    }

    .dot{
        height: 8px;
        width: 8px;
    }

    .carousel-arrow {
        width: 12px;
    }
}







