/* Media Queries w.r.t 3000px */

.page-container{
    background: whitesmoke;
    padding-top: 60px;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.search-genre-bar{
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 49px;
    justify-content: space-between;
    align-items: flex-start;
}


/* Search Bar */
.search{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 31px;
}

.search-field{
    display: flex;
    align-items: center;
}

.search-img{
    position: absolute;
    width: 31px;
    padding-left: 27px;
}

.search-input-field{
    margin: 0px;
    height: 45px;
    width: 345px;
    padding: 12px;
    padding-left: 70px;
    padding-right: 30px;
    border-radius: 100px;
    border: 1.8px solid lightgrey;
    font-size: 29px;
    font-family: unset;
}

.search-input-field:hover{
    border: 1.8px solid black;
}


/* DropDown Menus */
.dropdown-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 31px;
}


.dropdown-field{
    width: 267px;
    height: 72px;
    font-size: 29px;
    border-radius: 11px;
    border: 1.8px solid lightgrey;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='54' viewBox='0 0 24 24' width='44' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 94%;
    background-position-y: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    padding: 14px 50px 14px 14px;
    font-family: unset;
    color: grey;
    cursor: pointer;
}

.dropdown-field:hover{
    border: 1.8px solid black;
}



/* User Related Section */
.user-related-section{
    margin-top: 35px;
    height: 49px;
    width: 381px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 29px;
    font-weight: 700;
    color: #6f8f3a;
    padding: 9px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 20%), -2px -2px 2px rgb(255 255 255);
    border-radius: 13px;
}


/* Other Filters */

.filter-list{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: flex-end;
    margin-top: 35px;
    gap: 35px;
}

.small-screen-filterlist-1{
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 35px
}

.small-screen-filterlist-2{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: flex-end;
    gap: 35px;
}

.available-only{
    font-size: 31px;
    display: flex;
    align-items: center;
    gap: 11px;
}

.checkbox{
    margin: 0px;
    cursor: pointer;
    height: 34px;
    width: 34px;
}

.filter-btn{
    margin: 0px;
    padding: 0px;
    height: 72px;
    width: 124px;
    font-size: 31px;
    color: white;
    background-color: #6f8f3a;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.filter-btn:hover{
    background: white;
    color: #6f8f3a;
    border: 2px solid #6f8f3a;
}




@media screen and (max-width: 2500px){
    .page-container{
        padding-top: 40px;
        margin-right: 40px;
        margin-left: 40px;
        padding-bottom: 100px;
    }

    .search{
        font-size: 27px;
        gap: 8px;
    }

    .search-img{
        width: 25px;
        padding-left: 24px;
    }

    .search-input-field {
        font-size: 25px;
        padding: 12px 25px 12px 63px;
        width: 307px;
        height: 38px;
    }

    .user-related-section{
        font-size: 27px;
        height: 43px;
        width: 342px;
        border-radius: 7px;
        margin-top: 30px;
    }

    .dropdown-menu{
        font-size: 27px;
        gap: 8px;
    }
    
    .dropdown-field{
        font-size: 25px;
        width: 239px;
        height: 62px;
        padding: 12px 50px 12px 14px;
    }

    .filter-btn{
        font-size: 27px;
        height: 59px;
        width: 115px;
    }

    .available-only{
        font-size: 27px;
    }

    .checkbox{
        width: 29px;
        height: 29px;
    }

    .filter-list{
        margin-top: 30px;
    }
}





@media screen and (max-width: 2000px){

    .search{
        font-size: 23px;
    }

    .search-img{
        width: 18px;
        padding-left: 20px;
    }

    .search-input-field {
        font-size: 21px;
        padding: 7px 21px 7px 51px;
        width: 266px;
        height: 32px;
    }

    .user-related-section{
        font-size: 19px;
        height: 26px;
        width: 276px;
        margin-top: 24px;
    }

    .dropdown-menu{
        font-size: 23px;
    }
    
    .dropdown-field{
        font-size: 21px;
        width: 191px;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='44' viewBox='0 0 24 24' width='34' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-position-x: 94%;
        background-position-y: 2px;
        height: 50px;
        padding: 9px 41px 9px 12px;
    }

    .filter-btn{
        font-size: 23px;
        height: 48px;
        width: 100px;
    }

    .available-only{
        font-size: 23px;
    }

    .checkbox{
        width: 26px;
        height: 26px;
    }

    .filter-list{
        margin-top: 24px;
        gap: 25px;
    }

    .small-screen-filterlist-1{
        gap: 25px;
    }

    .small-screen-filterlist-2{
        gap: 25px;
    }
}





@media screen and (max-width: 1800px){

    .search{
        font-size: 20px;
        gap: 5px;
    }

    .search-input-field {
        font-size: 18px;
        width: 220px;
    }

    .user-related-section{
        font-size: 16px;
        height: 23px;
        width: 231px;
        margin-top: 20px;
    }

    .dropdown-menu{
        font-size: 20px;
        gap: 5px;
    }
    
    .dropdown-field{
        font-size: 18px;
        width: 180px;
    }

    .filter-btn{
        font-size: 20px;
        height: 47px;
        width: 94px;
    }

    .available-only{
        font-size: 20px;
    }

    .checkbox{
        width: 23px;
        height: 23px;
    }

    .filter-list {
        margin-top: 20px;
    }
}




@media screen and (max-width: 1650px){
    .search-img {
        width: 16px;
        padding-left: 18px;
    }

    .search{
        font-size: 18px;
        gap: 5px;
    }

    .search-input-field {
        font-size: 16px;
        padding: 7px 18px 7px 44px;
        width: 190px;
    }

    .dropdown-menu{
        font-size: 18px;
        gap: 5px;
    }
    
    .dropdown-field{
        font-size: 16px;
        width: 166px;
    }

    .filter-btn{
        font-size: 18px;
        height: 48px;
        width: 89px;
        border-radius: 7px;
    }

    .available-only{
        font-size: 18px;
    }

    .checkbox{
        width: 21px;
        height: 21px;
    }

    .filter-list {
        margin-top: 15px;
    }
}



@media screen and (max-width: 1500px){
    .search-genre-bar{
        gap: 24px;
    }
    .search-img {
        width: 14px;
        padding-left: 15px;
    }

    .search{
        font-size: 16px;
        gap: 5px;
    }

    .search-input-field {
        font-size: 14px;
        padding: 5px 18px 5px 38px;
        width: 167px;
        height: 26px;
    }

    .user-related-section{
        font-size: 14px;
        height: 18px;
        width: 183px;
        margin-top: 15px;
        font-weight: bold;
        border-radius: 5px;
    }

    .dropdown-menu{
        font-size: 16px;
        gap: 5px;
    }
    
    .dropdown-field{
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='34' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        font-size: 14px;
        width: 146px;
        height: 40px;
        padding: 5px 30px 5px 10px;
    }

    .filter-btn{
        font-size: 16px;
        height: 38px;
        width: 74px;
        border-radius: 5px;
    }

    .available-only{
        font-size: 16px;
    }

    .checkbox{
        width: 17px;
        height: 17px;
    }

    .filter-list {
        margin-top: 10px;
        gap: 20px;
    }

    .small-screen-filterlist-1{
        gap: 20px;
    }

    .small-screen-filterlist-2{
        gap: 20px;
    }
}



@media screen and (max-width: 1440px){
    .search-img {
        width: 12px;
        padding-left: 13px;
    }

    .search{
        font-size: 14px;
    }

    .search-input-field {
        font-size: 12px;
        padding: 5px 18px 5px 30px;
        width: 144px;
        height: 22px;
    }

    .user-related-section{
        font-size: 12px;
        height: 10px;
        width: 164px;
        margin-top: 15px;
        font-weight: bold;
        border-radius: 3px;
    }

    .dropdown-menu{
        font-size: 14px;
    }
    
    .dropdown-field{
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='30' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        font-size: 12px;
        width: 126px;
        height: 35px;
        padding: 5px 30px 5px 10px;
    }

    .filter-btn{
        font-size: 14px;
        height: 34px;
        width: 66px;
    }

    .available-only{
        font-size: 14px;
    }

}



@media screen and (max-width: 1024px){
    .page-container{
        padding-bottom: 40px;
    }

    .filter-btn:hover{
        border: 1.5px solid #6f8f3a;
    }
}



@media screen and (max-width: 850px){
    .page-container {
        padding-top: 26px;
    }
    
    .search-genre-bar {
        gap: 14px;
    }

    .search-img {
        width: 10px;
        padding-left: 11px;
    }

    .search{
        font-size: 12px;
        gap: 2px;
    }

    .search-input-field {
        font-size: 10px;
        padding: 3px 18px 3px 25px;
        width: 118px;
        height: 20px;
    }

    .user-related-section{
        font-size: 10px;
        height: 5px;
        width: 150px;
    }

    .dropdown-menu{
        font-size: 12px;
        gap: 2px;
    }
    
    .dropdown-field{
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='26' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        font-size: 12px;
        width: 119px;
        height: 29px;
        padding: 3px 21px 3px 8px;
        background-position-x: 94%;
        background-position-y: 0.5px;
    }

    .filter-btn{
        font-size: 12px;
        height: 28px;
        width: 54px;
    }

    .available-only{
        font-size: 12px;
        gap: 6px;
    }

    .checkbox {
        width: 15px;
        height: 15px;
    }

    .small-screen-filterlist-1 {
        gap: 14px;
        margin-top: 6px;
    }

    .small-screen-filterlist-2 {
        gap: 14px;
        margin-top: 6px;
    }

    .filter-list{
        display: flex;
        flex-direction: column;
        gap: 14px;
        align-items: center;
    }

}



@media screen and (max-width: 380px){
    
    .search-genre-bar {
        gap: 14px;
    }

    .search-img {
        width: 8px;
        padding-left: 10px;
    }

    .search{
        font-size: 10px;
    }

    .search-input-field {
        font-size: 9px;
        padding: 3px 10px 3px 22px;
        width: 99px;
        height: 15px;
    }

    .user-related-section{
        font-size: 9px;
        height: 5px;
        width: 119px;
        margin-top: 12px;
    }

    .dropdown-menu{
        font-size: 10px;
    }
    
    .dropdown-field{
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='14' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        font-size: 9px;
        width: 94px;
        height: 24px;
        padding: 3px 21px 3px 8px;
        background-position-y: -0.5px;
    }

    .filter-btn{
        font-size: 10px;
        height: 23px;
        width: 47px;
    }

    .filter-btn:hover{
        border: 1px solid #6f8f3a;
    }

    .available-only{
        font-size: 10px;
        gap: 6px;
    }

    .checkbox {
        width: 13px;
        height: 13px;
    }

    .small-screen-filterlist-1 {
        gap: 14px;
        margin-top: 2px;
    }

    .small-screen-filterlist-2 {
        gap: 14px;
        margin-top: 2px;
    }

    .filter-list{
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

}




@media screen and (max-width: 335px){
    
    .search-genre-bar {
        gap: 12px;
    }

    .search{
        font-size: 9px;
    }

    .search-input-field {
        font-size: 8px;
        padding: 3px 8px 3px 22px;
        width: 87px;
        height: 14px;
    }

    .user-related-section{
        font-size: 8px;
        height: 4px;
        width: 110px;
        margin-top: 9px;
    }

    .dropdown-menu{
        font-size: 9px;
    }
    
    .dropdown-field{
       font-size: 8px;
       width: 83px;
       height: 24px;
       padding: 3px 17px 3px 6px;
    }


    .available-only{
        font-size: 9px;
        gap: 5px;
    }

    .checkbox {
        width: 13px;
        height: 13px;
    }

    .small-screen-filterlist-1 {
        gap: 12px;
        margin-top: 0px;
    }

    .small-screen-filterlist-2 {
        gap: 12px;
        margin-top: 0px;
    }

    .filter-list{
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

}







