/* Media Queries w.r.t 3000px */

.page-container{
    background: whitesmoke;
    padding-top: 60px;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}


.search-genre-bar{
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 49px;
    justify-content: space-between;
    align-items: flex-start;
}


/* Search Bar */
.search{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 31px;
}

.search-field{
    display: flex;
    align-items: center;
}

.search-img{
    position: absolute;
    width: 31px;
    padding-left: 27px;
}

.search-input-field{
    margin: 0px;
    height: 45px;
    width: 345px;
    padding: 12px;
    padding-left: 70px;
    padding-right: 30px;
    border-radius: 100px;
    border: 1.8px solid lightgrey;
    font-size: 29px;
    font-family: unset;
}


/* DropDown Menus */
.dropdown-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 31px;
}

.dropdown-field{
    width: 260px;
    font-size: 29px;
}



/* User Related Section */
.user-related-section{
    margin-top: 35px;
    height: 49px;
    width: 381px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 29px;
    font-weight: 700;
    color: #6f8f3a;
    padding: 9px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 20%), -2px -2px 2px rgb(255 255 255);
    border-radius: 13px;
}


/* Other Filters */

.filter-list{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: flex-end;
    margin-top: 35px;
    gap: 35px;
}

.small-screen-filterlist-1{
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 35px
}

.small-screen-filterlist-2{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: flex-end;
    gap: 35px;
}

.available-only{
    font-size: 31px;
    display: flex;
    align-items: center;
    gap: 11px;
}

.checkbox{
    margin: 0px;
    cursor: pointer;
    height: 32px;
    width: 32px;
}

.filter-btn{
    margin: 0px;
    padding: 0px;
    height: 57px;
    width: 113px;
    font-size: 29px;
    color: white;
    background-color: #6f8f3a;
    border: none;
    border-radius: 10px;
}

.filter-btn:hover{
    background: white;
    color: #6f8f3a;
    border: 2px solid #6f8f3a;
}




@media screen and (max-width: 2500px){
    .page-container{
        padding-top: 40px;
        margin-right: 40px;
        margin-left: 40px;
        padding-bottom: 100px;
    }

    .search{
        font-size: 27px;
        gap: 8px;
    }

    .search-img{
        width: 25px;
        padding-left: 24px;
    }

    .search-input-field {
        font-size: 25px;
        padding: 12px 25px 12px 63px;
        width: 307px;
        height: 38px;
    }

    .user-related-section{
        font-size: 27px;
        height: 43px;
        width: 342px;
        border-radius: 7px;
        margin-top: 30px;
    }

    .dropdown-menu{
        font-size: 27px;
        gap: 8px;
    }
    
    .dropdown-field{
        font-size: 25px;
        width: 218px;
    }

    .filter-btn{
        font-size: 25px;
        height: 50px;
        width: 105px;
    }

    .available-only{
        font-size: 27px;
    }

    .checkbox{
        width: 27px;
        height: 27px;
    }

    .filter-list{
        margin-top: 30px;
    }
}





@media screen and (max-width: 2000px){

    .search{
        font-size: 23px;
    }

    .search-img{
        width: 18px;
        padding-left: 20px;
    }

    .search-input-field {
        font-size: 21px;
        padding: 7px 21px 7px 51px;
        width: 266px;
        height: 32px;
    }

    .user-related-section{
        font-size: 19px;
        height: 26px;
        width: 276px;
        margin-top: 24px;
    }

    .dropdown-menu{
        font-size: 23px;
    }
    
    .dropdown-field{
        font-size: 21px;
        width: 200px;
    }

    .filter-btn{
        font-size: 21px;
        height: 43px;
        width: 89px;
    }

    .available-only{
        font-size: 23px;
    }

    .checkbox{
        width: 24px;
        height: 24px;
    }

    .filter-list{
        margin-top: 24px;
        gap: 25px;
    }

    .small-screen-filterlist-1{
        gap: 25px;
    }

    .small-screen-filterlist-2{
        gap: 25px;
    }
}





@media screen and (max-width: 1800px){

    .search{
        font-size: 20px;
        gap: 5px;
    }

    .search-input-field {
        font-size: 18px;
        width: 220px;
    }

    .user-related-section{
        font-size: 16px;
        height: 23px;
        width: 231px;
        margin-top: 20px;
    }

    .dropdown-menu{
        font-size: 20px;
        gap: 5px;
    }
    
    .dropdown-field{
        font-size: 18px;
        width: 180px;
    }

    .filter-btn{
        font-size: 18px;
        height: 37px;
        width: 76px;
    }

    .available-only{
        font-size: 20px;
    }

    .checkbox{
        width: 21px;
        height: 21px;
    }

    .filter-list {
        margin-top: 20px;
    }
}




@media screen and (max-width: 1650px){
    .search-img {
        width: 16px;
        padding-left: 18px;
    }

    .search{
        font-size: 18px;
        gap: 5px;
    }

    .search-input-field {
        font-size: 16px;
        padding: 7px 18px 7px 44px;
        width: 190px;
    }

    .user-related-section{
        font-size: 14px;
        height: 20px;
        width: 194px;
        margin-top: 20px;
    }

    .dropdown-menu{
        font-size: 18px;
        gap: 5px;
    }
    
    .dropdown-field{
        font-size: 16px;
        width: 160px;
    }

    .filter-btn{
        font-size: 16px;
        height: 35px;
        width: 69px;
        border-radius: 7px;
    }

    .available-only{
        font-size: 18px;
    }

    .checkbox{
        width: 19px;
        height: 19px;
    }

    .filter-list {
        margin-top: 15px;
    }
}



@media screen and (max-width: 1500px){
    .search-genre-bar{
        gap: 24px;
    }
    .search-img {
        width: 14px;
        padding-left: 15px;
    }

    .search{
        font-size: 16px;
        gap: 5px;
    }

    .search-input-field {
        font-size: 14px;
        padding: 5px 18px 5px 38px;
        width: 167px;
        height: 26px;
    }

    .user-related-section{
        font-size: 12px;
        height: 14px;
        width: 165px;
        margin-top: 15px;
        font-weight: bold;
        border-radius: 5px;
    }

    .dropdown-menu{
        font-size: 16px;
        gap: 5px;
    }
    
    .dropdown-field{
        font-size: 14px;
        width: 146px;
    }

    .filter-btn{
        font-size: 14px;
        height: 31px;
        width: 59px;
        border-radius: 5px;
    }

    .available-only{
        font-size: 16px;
    }

    .checkbox{
        width: 15px;
        height: 15px;
    }

    .filter-list {
        margin-top: 10px;
        gap: 20px;
    }

    .small-screen-filterlist-1{
        gap: 20px;
    }

    .small-screen-filterlist-2{
        gap: 20px;
    }
}



@media screen and (max-width: 1440px){
    .search-img {
        width: 12px;
        padding-left: 13px;
    }

    .search{
        font-size: 14px;
    }

    .search-input-field {
        font-size: 12px;
        padding: 5px 18px 5px 30px;
        width: 144px;
        height: 22px;
    }

    .user-related-section{
        font-size: 10px;
        height: 10px;
        width: 136px;
        margin-top: 15px;
        font-weight: bold;
        border-radius: 3px;
    }

    .dropdown-menu{
        font-size: 14px;
    }
    
    .dropdown-field{
        font-size: 12px;
        width: 140px;
    }

    .filter-btn{
        font-size: 12px;
        height: 27px;
        width: 51px;
    }

    .available-only{
        font-size: 14px;
    }

}








