/* Media Queries w.r.t 1440px,  --screen = 1px for 1440px */

.navbar{
    background-color: whitesmoke;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 20%);
    height: calc(60*var(--screen));
    top: 0px;
    right: 0px;
    left: 0px;
    position: fixed;
    z-index: 4;
}

.navbar-container{
    padding-top: calc(5*var(--screen));
    padding-bottom: calc(5*var(--screen));
    padding-left: calc(150*var(--screen));
    padding-right: calc(150*var(--screen));
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Logo */

.logo{
    display: flex;
    align-items: center;
    width: calc(236*var(--screen));
    justify-content: space-between;
}

.logo-img{
    height: calc(50*var(--screen));
    width: calc(50*var(--screen));
}

.logo-text{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    align-items: baseline;
    gap: calc(3*var(--screen));
    cursor: pointer;
}

.logo-main-text{
    color: #a2671a;
}

.company-name{
    font-size: calc(24*var(--screen));
    font-family: -webkit-body;
    height: calc(26*var(--screen))
}

.company-tagline{
    font-size: calc(14*var(--screen));
    font-family: unset;
    height: calc(16*var(--screen));
}

.beta-version{
    color: black;
    font-weight: 700;
    font-size: calc(16*var(--screen));
    height: calc(18*var(--screen));
}


/* Navbar Components */
.navbar-component-list{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(750*var(--screen));
}

.navbar-components{
    text-decoration: none;
    color: #413e66;
    font-size: calc(15*var(--screen));
    font-weight: 600;
    cursor: pointer;
}

.navbar-components:hover{
    text-decoration: underline;
}

.navbar-icons{
    width: calc(30*var(--screen));
    height: calc(30*var(--screen));
    cursor: pointer;
}

.icons{
    width: calc(30*var(--screen));
    height: calc(30*var(--screen));
}

.navbar-profile-icon{
    text-decoration: none;
    color: #413e66;
    font-size: calc(15*var(--screen));
    display: flex;
    align-items: flex-end;
    gap: calc(9*var(--screen));
    font-weight: 600;
    cursor: pointer;
}

.navbar-profile-icon:hover{
    text-decoration: underline;
}

.down-arrow{
    width: calc(15*var(--screen));
}




/* Popup Menus */
.popup-menus{
    display: flex;
    justify-content: center;
}

.pop-up{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    position: absolute;
    top: calc(60*var(--screen));
    background-color: whitesmoke;
    box-shadow: 0px 1px 3px #a2671a;
    padding: calc(10*var(--screen));
    width: calc(200*var(--screen));
    border-radius: calc(10*var(--screen));
    z-index: 1;
}



/* Notification Menu */

.menu-heading{
    font-size: calc(20*var(--screen));
    font-weight: 700;
    color: rgb(162, 103, 26);
    height: calc(24*var(--screen));
    padding-bottom: calc(12*var(--screen));
}

.notification-list-items{
    font-size: calc(17*var(--screen));
}

.notification-list-items:after {
    content: "";
    display: block;
    height: calc(2*var(--screen));
    margin-top: calc(10*var(--screen));
    margin-bottom: calc(10*var(--screen));
    width: 100%;
    background: #a2671a;
    border-radius: 100px;
}


/* Profile Menu */

.profile{
    padding: 0px;
    width: calc(130*var(--screen));
    padding-top: calc(10*var(--screen));
    padding-bottom: calc(10*var(--screen));
}

.profile-list-items{
    font-size: calc(17*var(--screen));
    text-align: center;
}

.edit-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(10*var(--screen));
}

.profile-photo{
    width: calc(60*var(--screen));
    height: calc(60*var(--screen));
}

.line-break{
    content: "";
    display: block;
    height: calc(2*var(--screen));
    margin-top: calc(10*var(--screen));
    margin-bottom: calc(10*var(--screen));
    width: 100%;
    background: #a2671a;
    border-radius: 100px;
}


