body {
  background-color: whitesmoke;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (min-width:4000px) {
  :root{
    --screen: 3.125px
  }
  .navbar-small-screen{
    display: none;
 }

 .small-screen-carousel{
  display: none;
 }
}

@media screen and (max-width:4000px) {
  :root{
    --screen: 2.78px
  }
  .navbar-small-screen{
    display: none;
 }

 .small-screen-carousel{
  display: none;
 }

}


@media screen and (max-width:3000px) {
  :root{
    --screen: 2.08px
  }

  
}

@media screen and (max-width:2760px) {
  :root{
    --screen: 1.916px
  }
}

@media screen and (max-width:2560px) {
  :root{
    --screen: 1.78px
  }
}

@media screen and (max-width:2350px) {
  :root{
    --screen: 1.63px
  }
}

@media screen and (max-width:2150px) {
  :root{
    --screen: 1.49px
  }
}

@media screen and (max-width:2000px) {
  :root{
    --screen: 1.38px
  }
}

@media screen and (max-width:1800px) {
  :root{
    --screen: 1.25px
  }
}

@media screen and (max-width:1620px) {
  :root{
    --screen: 1.125px
  }
}

/* screen = big screens w.r.t 1440px */

@media screen and (max-width:1440px) {
  :root{
    --screen: 1px
  }
}

@media screen and (max-width:1300px) {
  :root{
    --screen: 0.903px
  }
}

@media screen and (max-width:1150px) {
  :root{
    --screen: 0.79px
  }
}

@media screen and (max-width:1070px) {
  :root{
    --screen: 0.74px
  }
}

/* smscreen = small screen w.r.t 1000px */

@media screen and (max-width:1000px) {
  :root{
    --smscreen: 1px;
    --screen: 0.69px
  }
  .navbar-small-screen{
    display: block;
  }

}

@media screen and (max-width:900px) {
  :root{
    --smscreen: 0.9px;
    --screen: 0.625px
  }
}

@media screen and (max-width:810px) {
  :root{
    --smscreen: 0.81px;
    --screen: 0.5625px
  }
}





